<p id="notice"><%= notice %></p>

<p>
  <b>Pillow:</b>
  <%= @category.pillow %>
</p>

<p>
  <b>Bag:</b>
  <%= @category.bag %>
</p>

<p>
  <b>Apron:</b>
  <%= @category.apron %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
